<hr>
<i><small>
<p>Want to share this with others? Simply send them a link to this FORM_LINK.</p>
<p>Want to update your subs? Fill out the FORM_LINK again, with the full list of subs you'd like to be subscribed to.</p>
<p>To contact us, visit our PROJECT_PAGE and leave a note.</p>
</small></i>